@import "~bootstrap/scss/bootstrap";

@import "./partials/aside-admin";

header .my_nav {
    height: 70px !important;
}

main {
    height: calc(100vh - 70px);
}

.edit-table {
    input {
        border: none;
        &:focus-visible {
            outline: none !important;
        }
    }
}
